<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="IShopConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IShop_Management.Properties.Settings.IShopConnectionString"
      connectionString="Data Source=DESKTOP-T978CPO\SQLEXPRESS;Initial Catalog=IShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
